<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            display: flex;
            flex-direction: row;
            border: 2px solid ;
        }
       td{
        background-color: bisque;
        border-style: outset;
       }
       .home_tag{
        background-color: #174F2A;
         width: 300px;
        height: 30px;
        color:  #ffffff;
       padding: 20 25px;
       border-radius: 10px;
        text-decoration: none;
        text-align: center;
        
       }
    </style>
    
</head>
<body>
    <header> <center><div><a class="home_tag"href="http://localhost:9002/tasklist">Back To Task Page</a></div></center>
        <br><br></header>

  <center>
   <% for(let i=0;i<1;i++){ %>
      
        <table border="1">
            <tr>
                <th>id

                </th><th>first name</th>
                <th>last name</th>
            <th>contact</th>
        <th>email</th>
        <th>college</th>
        <th>city
        
        </th></tr>
       
            
            <% for( let j=0;j<data.length;j++){ %>
            <tr>
                <td><%=data[j]['id']%></td>
                <td><%=data[j]['first_name']%></td>
                <td><%=data[j]['last_name']%></td>
                <td><%=data[j]['contact']%></td>
                <td><%=data[j]['email']%></td>
                <td><%=data[j]['college']%></td>
                <td><%=data[j]['city']%></td>
                </tr>
           
            <% } %>
        
           </table>
        </center>
           <br><br>
           <% } %>
           <div id="container">

           
         <% for(let k=0;k<qc ;k++){%>
           <div id="cont<%=k+1%>">
            <a href="http://localhost:9002/maintask3?id=<%=k+1%>"><b>Page <%=k+1%>|</b></a>
           </div>
           &nbsp;
           &nbsp;
           
           <% } %>
        </div>
          
      
   
  

</body>
</html>